html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#container {
    width: 1000px;
    margin: 0 auto;
}

.battleship {
    width: 100%;
}

.battleship__item {
    float: left;
    width: calc(100% * (1/5));
    height: 150px;
    border: 1px solid green;
}

.battleship__item--danger {
    background-color: #ff0000;
}

.battleship__item--missed {
    background-color: #6495ed;
}

.battleship__item--success {
    background-color: #7fff00;
}