html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 18px;
    font-family: Calibri, Verdana, sans-serif;
    background-image: url("../images/main-background.jpg");
    background-size: 100% 100%;
}

#container {
    width: 1000px;
    margin: 0 auto;
    box-shadow: 0 0 8px #000;
}

header {
    font-size: 2em;
    color: #b4af5b;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    padding: 30px 60px;
    background-color: #2d4708;
}

.button {
    font-size: 1em;
    padding: 12px 8px;
    border-radius: 10px;
    text-align: center;
}

.button--large {
    width: 300px;
}

.button--primary {
    background-color: #1e3900;
    color: #fff;
}

.battleship-container {
    padding: 17px;
    background-color: rgba(255, 255, 255, 0.8);
}

.battleship {
    overflow: hidden;
    padding: 10px;
}

.battleship--hidden {
    display: none;
}

.battleship--visible {
    display: block;
}

.battleship__item {
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
    width: calc(100% * (1/5) - 10px);
    height: 100px;
    border: 1px solid green;
}

.battleship__item:nth-child(5n) {
    margin-right: 0;
}

.battleship__item--danger {
    background-color: #ff0000;
}

.battleship__item--missed {
    background-color: #6495ed;
}

.battleship__item--success {
    background-color: #7fff00;
}

.battleship__hits, .battleship__tries {
    border-radius: 6px;
    padding: 10px 20px;
    font-style: italic;
    border: 1px solid #286d14;
    background-color: #99ed2d;
}

.battleship-headline {
    margin-top: 17px;
}

.battleship-menu__item {
    font-size: 2em;
    font-style: italic;
    padding: 20px;
}

.description {
    padding: 20px;
    background-color: #c2e184;
}

.description__title {
    margin: 0;
}